@import '../../styles/variables.scss';

.default-nav-class {
  opacity: 1;
  font-family: Celias-Regular;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: -0.25px;
  text-align: center;
  text-decoration: underline !important;
  color: $color-nav-link;
}
.default-nav-class:visited:hover {
  color: $hover-color-nav-link;
}

.default-nav-class:hover {
  color: $hover-color-nav-link;
}

.default-nav-class:visited {
  color: $color-nav-link;
}
