@font-face {
  font-family: 'Celias-Bold';
  src: url("Celias-Bold/Celias-Bold.woff");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Celias-Medium';
  src: url("Celias-Medium/Celias-Medium.woff");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Celias-Regular';
  src: url("Celias-Regular/Celias.woff");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Celias-Thin';
  src: url("Celias-Thin/Celias-Thin.woff");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'SFProText-Bold';
  src: url("SFProText/SF-Pro-Text-Bold.woff");
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'SFProText-Heavy';
  src: url("SFProText/SF-Pro-Text-Heavy.woff");
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'SFProText-Regular';
  src: url("SFProText/SF-Pro-Text-Regular.woff");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'SFProDisplay-Bold';
  src: url("SFProDisplay/SF-Pro-Display-Bold.woff");
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}


@font-face {
  font-family: 'SFProDisplay-Light';
  src: url("SFProDisplay/SF-Pro-Display-Light.woff");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'SFProDisplay-Black';
  src: url("SFProDisplay/SF-Pro-Display-Black.woff");
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'SFProDisplay-Regular';
  src: url("SFProDisplay/SF-Pro-Display-Regular.woff");
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Gotham-Bold';
  src: url("Gotham-Bold/Gotham-Bold.woff");
}
@font-face {
  font-family: 'Gotham-Light';
  src: url("Gotham-Light/Gotham-Light.woff");
}
@font-face {
  font-family: 'Gotham-Medium';
  src: url("Gotham-Medium/Gotham-Medium.woff");
}
